html {
    font-family: Helvetica, Tahoma;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
body {
    background-color: #2e2e2e;
    color: white;
}
header {
    margin-bottom: 10rem;
}
section {
    margin-bottom: 6rem;
}
footer {
    margin-top: 4rem;
}

.materi {
    font-weight: bolder;
}

h3 {
    color: chocolate;
}
a {
    text-decoration: none;
    color:gold;
}

.judul {
    text-align: center;
}
.subjudul {
    gap: 60px;
}
.contoh {
    text-align: left;
}
#kovalen {
    text-align: left;
}
#polar {
    text-align: left;
}